/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* #region Form */
button,
input {
  border: none;
  outline: none;
  background: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 36px auto;
  gap: 8px;
  width: 371px;
  height: 40px;
}

input {
  box-sizing: border-box;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover {
  border-color: #000000;
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

button,
.load-more {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4e75ff;
  color: #fff;
}

button:hover,
.load-more:hover {
  background-color: #6c8cff;
}

.load-more {
  margin: 32px auto;
  width: 125px;
  height: 40px;
}
/* #endregion */

/* #region Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.gallery-item {
  border: solid 1px #808080;
  max-width: calc((100% - 96px) / 3);
}

.gallery-link {
  cursor: pointer;
}

.gallery-image {
  object-fit: cover;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.gallery-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 4px 20px;
  background: #fff;
  height: 48px;
}

.gallery-actions p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.gallery-actions span {
  font-weight: 600;
}
/* #endregion */

/* #region Loader  */
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #dae0f5;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}
.loader::before {
  top: auto;
  bottom: 0;
  background-color: #6c8cff;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* #endregion */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
